@page "/expedientes"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteConsultarTodos CasoDeUsoExpedienteConsultarTodos
@inject NavigationManager Navegador

<PageTitle>SGE - Expedientes</PageTitle>
<button class="btn btn-primary" @onclick="AgregarExpediente">Agregar Expediente</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Caratula</th>
            <th>Estado</th>
            <th>Fecha y Hora de Creacion</th>
            <th>Fecha y Hora de Modificación</th>
            <th>Modificado por</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in _expedientes)
        {
            <tr>
                <td>@e.Id</td>
                <td>@e.Caratula</td>
                <td>@e.Estado</td>
                <td>@e.FechaHoraCreacion</td>
                <td>@e.FechaHoraUltimaModificacion</td>
                <td>@e.IdUsuarioUltimaModificacion</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    List<Expediente> _expedientes;
    
    private void AgregarExpediente(){
        Navegador.NavigateTo("agregar-expediente");
    }
    protected override void OnInitialized()
    {
        _expedientes = CasoDeUsoExpedienteConsultarTodos.Ejecutar();
    }
}