@page "/miperfil"
@rendermode InteractiveServer
@inject IServicioGestionDeSesion ServicioGestionDeSesion
@inject NavigationManager Navigation

<PageTitle>SGE - Mi Perfil</PageTitle>
@if (_session_user == null)
{
    <p>Para ver este contenido debes iniciar sesion o registrarte.</p>
}
else 
{
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <h3>Mi Perfil</h3>
                </div>
                <button class="btn btn-info me-1" @onclick="EditarPerfil">Editar Perfil</button>
                <button class="btn btn-danger" @onclick="CerrarSesion">Cerrar Sesión</button>
            </div>
        </div>
        <div class="card-body">
            <p><strong>Nombre:</strong> @_session_user.Nombre</p>
            <p><strong>Apellido:</strong> @_session_user.Apellido</p>
            <p><strong>Email:</strong> @_session_user.Email</p>
            <p>
                <strong>Permisos:</strong>
                @if(@_session_user.Permisos.Count > 0)
                {
                    <ul>
                        @foreach (var p in @_session_user.Permisos)
                        {
                            <li>@p</li>
                        }
                    </ul>
                }
                else
                {
                    @:Solo tienes permiso de lectura
                }
            </p>
            <!-- Add other properties here -->
        </div>
    </div>
}

@code {
    private Usuario? _session_user;

    protected override void OnInitialized()
    {
        _session_user = ServicioGestionDeSesion.ObtenerUsuario();
    }

    private void IniciarSesion()
    {
        Navigation.NavigateTo("login");
    }

    private void CerrarSesion()
    {
        ServicioGestionDeSesion.CerrarSesion();
        Navigation.NavigateTo("login");
    }

    private void EditarPerfil()
    {
        Navigation.NavigateTo($"editar-usuario/{_session_user.Id}");
    }
}
