@page "/tramites"

<PageTitle>SGE - Trámites</PageTitle>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Id del expediente</th>
            <th>Etiqueta</th>
            <th>Contenido</th>
            <th>Fecha y Hora de Creacion</th>
            <th>Fecha y Hora de Modificación</th>
            <th>Modificado por</th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var t in _tramites)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Nombre</td>
                <td>@t.Apellido</td>
                <td>@t.Email</td>
                <td>@t.Contraseña</td>
            </tr>
        } *@
    </tbody>
</table>
