@page "/usuarios"
@rendermode InteractiveServer
@inject CasoDeUsoUsuarioConsultarTodos CasoDeUsoUsuarioConsultarTodos
@inject NavigationManager Navegador

<PageTitle>SGE - Usuarios</PageTitle>
<button class="btn btn-primary" @onclick="AgregarUsuario">Agregar usuario</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in _usuarios)
        {
            <tr>
                <td>@u.Id</td>
                <td>@u.Nombre</td>
                <td>@u.Apellido</td>
                <td>@u.Email</td>
                <td>@u.Contraseña</td>
                <td>
                    <button class="btn btn-primary">
                        Editar
                    </button>
                    <button class="btn btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private List<Usuario> _usuarios;
    private void AgregarUsuario(){
        Navegador.NavigateTo("agregar-usuario");
    }
    protected override void OnInitialized()
    {
        _usuarios = CasoDeUsoUsuarioConsultarTodos.Ejecutar();
    }
}